.icon-card{
    &.style-5{
        display: flex;
        gap: 40px;

        .icon-card-inner{
            .content{
                padding-right: 20px;
                .info-title{
                    color: $white;
                }
                .desc{
                    color: $white;
                }
            }
        }
    }
}