.icon-card{
    &.style-5{
        display: flex;
        justify-content: space-between;
        margin-right: 66px;

        .icon-card-inner{
            .content{
                padding-right: 20px;
                .info-title{
                    color: $white;
                }
                .desc{
                    color: $white;
                }
            }
            
        }
    }
}