.project-card {
    position: relative;


    .image {
        flex-shrink: 0;
        width: 100%;

        img {
            width: 100%;
        }
    }
    .main-content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;

        //&:hover {
        //    .main-content-wrapper {
        //        opacity: 0.8;
        //    }
        //}

        .main-content-wrapper {
            position: relative;
            background-color: rgba(35, 38, 45, 0.8);
            padding: 40px;
            //opacity: 0;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @include transition;

            .angle-btn {
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primary-color;
                font-size: 24px;
                color: $white;
                flex-shrink: 0;
                

            }
            .arrow-btn {
                width: 88px;
                height: 88px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primary-color;
                font-size: 24px;
                color: $white;
                flex-shrink: 0;
            }
            .title {
                font-size: 24px;
                font-weight: 700;
                line-height: 30px;
                color: $white;
                margin-bottom: 0;
            }
            .desc {
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                color: $white;
                margin-bottom: 0;
                margin-top: 6px;
            }
        }
    }
}