.video-popup-card {
    &.style-2 {
        .video-popup-btn {
            background-color: $white;
            border-radius: 50%;
            padding: 15px;
            a {
                width: 140px;
                height: 140px;
                border: 1px solid $primary-color;
                background-color: $white;
            
                @include md {
                    width: 100px;
                    height: 100px;
                }
                @include sm {
                    width: 100px;
                    height: 100px;
                }

                i {
                    color: $primary-color;
                }

            }
        }
    }
}