.post-card {
  &.style-3 {
    .image{
      height: 299px;
    }
    .content-wrapper {
      padding-right: 30px;
      margin-top: -65px;
      position: relative;
      z-index: 1;

      .content {
        background-color: $white;
        padding: 20px 30px 40px;
        gap: 20px;

        .post-content{
          margin-bottom: 10px;
        }
      }
    }
  }
}