.post-card {
  &.style-3 {
      .post-meta{
          .single-post-meta{
              color: $gray-800;

              i{
                  color: $gray-800;
              }
          }
      }
      .content{
          gap: 20px;
          padding: 30px 30px 20px;
      }
  }
}