.post-card {
  background-color: $white;

  &:hover {
    .image {
      img {
        transform: scale(1.1);
        @include transition;
      }
      &:before {
        visibility: visible;
        opacity: 1;
        @include transition;
      }
      .circle-btn-wrapper {
        background-color: rgba(0, 0, 0, 0.50);
        @include transition;
      }
      .circle-btn {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        visibility: visible;
        opacity: 1;
        @include transition;
      }
    }
  }
  .image {
    overflow: hidden;
    position: relative;

    img {
      transform: scale(1);
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include transition;
    }
    .circle-btn-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include transition;
    }
    .circle-btn {
      width: 72px;
      height: 72px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary-color;
      color: $white;
      font-size: 24px;
      text-decoration: none;
      position: absolute;
      top: 70%;
      left: 20%;
      transform: translate(-50%, -50%) scale(0.3);
      opacity: 0;
      visibility: hidden;
      @include transition;
      z-index: 2;

      @include md {
        width: 60px;
        height: 60px;
        font-size: 22px;
      }
      @include sm {
        width: 50px;
        height: 50px;
        font-size: 20px;
      }
      i {
        transform: rotate(-45deg);
        @include transition;
      }

      &:hover {
        background-color: $blue-color;
        @include transition;

        i {
          transform: rotate(0deg);
          @include transition
        }
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border: 1px solid $gray-200;
    gap: 20px;

      .title {
        height: 60px;
        overflow: hidden;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 0;

        @include sm {
          font-size: 20px;
          line-height: 28px;
          height: unset;
          overflow: visible;
        }

       a {
         &:hover {
           color: $primary-color;
           @include transition;
         }
       }
      }
      .post-content {
        p {
          margin-bottom: 0;
        }
      }
  }
  .post-meta {
    display: inline-flex;
    gap: 5px 20px;
    align-items: center;
    flex-wrap: wrap;

    .single-post-meta {
      color: #8f939b;
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      font-family: $roboto-font;
      margin: 0;
      display: flex;
      gap: 7px;
      align-items: center;
      flex-shrink: 0;

      i {
        color: $primary-color;
        @include transition;

      }

      a {
        display: flex;
        gap: 7px;
        align-items: center;
        flex-shrink: 0;
        color: #8f939b;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}


// Post Card 1

.post-card {
  &.style-1 {
    .post-meta {
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: $primary-color;
      padding: 10px;

      .single-post-meta {
        color: $white;

        i {
          color: $white;
        }
      }
    }
  }
}