.post-card {
    &.style-5 {
        margin: 0;
        .post-meta{
            .single-post-meta{
                color: $white;
            }
        }
        .content{
            background-color: #282b33;
            gap: 20px;
            padding: 25px 240px 40px 40px;
            border: none;

            .image{
                height: 272px;
            }

            .title{
                color: $white;
                height: initial;
            }
        }
    }
}