.post-card {
  &.style-3 {
    .content-wrapper {
      padding-right: 30px;
      margin-top: -65px;
      position: relative;
      z-index: 1;

      .content {
        background-color: $white;
      }
    }
  }
}