.slider-area {
  &.style-2 {
    padding-bottom: 60px;

    .slider-bg {
      @include rwd(1400) {
        width: 725px;
      }
    }

    .slider-wrapper {

      .next-btn,
      .prev-btn {
        @include rmaxwd(1399) {
          top: unset;
          bottom: 0;
        }

        @include rmaxwd(991) {
          display: none !important;
        }

        i {
          @include rmaxwd(1399) {
            transform: unset;
          }
        }
      }

      .next-btn {
        @include xl {
          left: unset;
          right: 112px;
        }

        @include lg {
          left: unset;
          right: 112px;
        }

        @include md {
          left: unset;
          right: 112px;
        }
      }

      .prev-btn {
        @include xl {
          right: 30%;
          left: unset;
        }

        @include lg {
          right: 30%;
          left: unset;
        }

        @include md {
          right: 30%;
          left: unset;
        }
      }

      .slick-dots {
        @include xl {
          flex-direction: row;
          top: unset;
          bottom: 0;
          transform: translate(-100%, -50%);
          right: 86px;
        }

        @include lg {
          flex-direction: row;
          top: unset;
          bottom: 0;
          transform: translate(37%, -50%);
          right: 86px;
        }

        @include md {
          top: unset;
          bottom: 0;
        }
      }
    }

    .single-slider {
      @include md {
        height: auto;
      }

      .slider-content-wrapper {
        @include rmaxwd(1199) {
          margin: 0;
        }

        .slider-content {
          .foundation-text {
            h1 {
              @include lg {
                font-size: 121px;
              }
            }
          }

          .slider-short-title,
          .slider-title,
          .slider-short-desc {
            @include rmaxwd(1399) {
              color: $white;
            }
          }

          .slider-btn-wrapper {
            .theme-btn {
              @include rmaxwd(1399) {
                color: $white;
              }
            }
          }

          .foundation-text {
            h1 {
              @include rmaxwd(1399) {
                -webkit-text-stroke: 2px $white;
              }
            }
          }
        }
      }

      .slider-image {
        @include md {
          margin-top: 30px;
        }

        .slider-image-inner {
          @include rmaxwd(1399) {
            margin-right: 0;
          }
        }
      }
    }
  }
}