.info-card {
    &.style-3 {
        padding: 0 40px 40px 40px;
        border: 1px solid $gray-200;

        .title-wrapper {
            align-items: center;
            padding-bottom: 20px;

            .icon {
                background-color: $primary-color;
                width: 80px;
                height: 80px;
                align-items: center;
                justify-content: center;
                margin-top: -1px;
                padding: 8px;
                flex-shrink: 0;
            }
            .counter-number {
                font-size: 48px;
                font-weight: 700;
                line-height: 60px;
                color: $black;
            }
        }

        .content {
            text-align: center;
            justify-content: center;
        }
    }
}