.footer {
  &.style-4 {
    .subscribe-footer-widget {
      text-align: center;
      position: relative;
      margin-bottom: 80px;
      .footer-top-widget-title {
        padding: 0 70px;
        margin-bottom: 40px;
        color: $white;
        h2,h3 {
          color: $white;
        }
      }
    }
    .footer-widget {
      .footer-widget-info {
        padding-right: 65px;
        p {
          margin-bottom: 50px;
        }
      }
      .widget_latest_post {
        ul {
          li {
            .latest-post-desc {
              .latest-post-meta,
              .latest-post-title {
                color: #ffffffb3;
                a {
                  color: #ffffffb3;
                }
              }
            }
          }
        }
      }
      &.widget_nav_menu {
        li {
          a {
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
}
