.header-area {
  &.style-2 {
    // Start Header Nav
    .header-menu-area {
      &.sticky_menu {
        .main-menu {
          ul {
            li {
              a {
                color: $black;
                @include transition;

                &:hover {
                  color: $primary-color;
                }
              }
              ul {
                li {
                  a {
                    &:hover {
                      color: $white;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .main-menu {
        ul {
          li {
            a {
              color: $black;
              @include transition;

              &:hover {
                color: $primary-color;
              }
            }
            ul {
              li {
                a {
                  &:hover {
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }
      .search-btn-with-btn {
        margin-left: 34px;

        @include rmaxwd(1399) {
          display: none;
        }
        .btn-wrapper {
          flex-shrink: 0;
        }
        .theme-btn {
          padding: 11px 38px;
        }
        .search-btn {
          color: $black;
        }
      }
    }
  }
}