.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
    gap: 10px;


    .short-title {
      font-family: $heading-font;
      font-size: 18px;
      font-weight: 700;
      line-height: 27px; 
      letter-spacing: 4px;
      text-transform: uppercase;
      color: $primary-color;
      position: relative;

      span{
        content: "";
        width: 20px;
        height: 1px;
        background-color: #D9A14C;
        position: absolute;
        top: 50%;
    }
    }
    .title {
      font-family: $heading-font;
      font-size: 48px;
      font-weight: 700;
      line-height: 60px;
      text-transform: capitalize;
      color: $black;
    }
}