// About Us
.about-us-area{
    &.style-6{
        @include md{
            padding: 100px 0;
        }
        @include sm{
            padding: 80px 0;
        }

    }
}
.about-info-card{
    &.style-6{
        .section-title{
            @include xs{
                gap: 0px;
            }
        }
        .list-item-wrapper{
            gap: 20px;

            @include sm{
                gap: 15px;
            }

            .list-item{
                gap: 10px;

                .text{
                    font-family: $heading-font;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 27px;
                    color: $white;
                }
            }
        }
    }
}

// cta-area
.cta-area{
    &.style-6{
        padding: 206px 0;
        margin: 0 100px;

        @include xl{
            margin: 0;
            @include transition;
        }
        @include lg{
            margin: 0;
        }
        @include md{
            margin: 0;
        }
        @include sm{
            margin: 0;
        }
        .cta-overlay{
            background: none;
        }
    }
}

// Feature Area
.feature-area{
    &.style-6{
        @include md{
            padding-top: 100px;
        }
        @include sm{
            padding-top: 80px;
        }

        .info-card{
            &.style-2{
                border: none;
                border-bottom: 1px solid #282B33;
                background-color: #282B33;
                @include transition;

                &:hover{
                    border-bottom: 1px solid #FF9205;
                    @include transition;
                }

                .icon-wrapper{
                    justify-content: start;
                    gap: 20px;
                    .title{
                        color: $white;
                    }
                }

                .content{
                    gap: 40px;
                    .desc{
                        color: $white;
                    }
                    .read-more{
                        a{
                            color: $white;
                            i{
                                font-family: $font-awesome;
                                font-size: 16px;
                                font-weight: 900;
                                color: #FF9205;
                                margin-left: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// portfolio-section
.portfolio-section{
    &.style-6{
        @include md{
            padding: 100px 0;
        }
        @include sm{
            padding: 80px 0;
        }

        .section-title{
            margin-bottom: 60px;

            @include sm{
                flex-direction: column;
                align-items: start;
                gap: 40px;
                margin-bottom: 40px;
            }

            .sec-content{
                .title{
                    @include lg{
                        font-size: 42px;
                    }
                    @include md{
                        font-size: 32px;
                    }
                }
            }
            .sec-desc{
                .desc{
                    width: 625px;
                    font-size: 16px;
                    font-family: $body-font;
                    font-weight: 400;
                    line-height: 30px;
                    color: $white;
                    @include xl{
                        width: 545px;
                    }
                    @include lg{
                        width: 450px;
                    }
                    @include md{
                        width: 335px;
                        font-size: 14px;
                        line-height: 25px;
                    }
                    @include sm{
                        width: 100%;
                        // font-size: 14px;
                        // line-height: 25px;
                    }
                }
            }
        }
    }
}

// Testimonial Slider Area
.testimonial-slider-area{
    &.style-6{
        background-color: #282B33;
        padding-bottom: 190px;
        position: relative;
        z-index: 5;

        @include md{
            padding: 100px 0 170px;
        }
        @include sm{
            padding: 80px 0 150px;
        }
    }
}

// counter-up-area
.counter-up-area{
    &.style-6{
        margin-top: -90px;
        .counter-card{
            position: relative;
            z-index: 10;
        }
    }
}

// Project Area
.project-area{
    &.style-3{
        @include md{
            padding-top: 100px 0;
        }
        @include sm{
            padding-top: 80px 0;
        }

        .project-card-slider{
            .row{
                margin: 0 80px;
                @include md{
                    margin: 0 50px;
                }
                @include sm{
                    margin: 0 20px;
                }
                @include xs{
                    margin: 0 40px;
                }
            }
        }
    }
}


// latest-posts-area
.latest-posts-area{
    &.style-6{
        @include md{
            padding: 100px 0;
        }
        @include sm{
            padding: 80px 0;
        }
    }
}