.subscribe-area {
    padding-top: 80px;
    padding-bottom: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $white;

    .section-title {
        margin-bottom: 40px;
    }

    .desc {
        margin-top: 15px;
        margin-bottom: 0;
    }

    .subscribe-form-widget {
        .mc4wp-form-fields{
            border-radius: 0;
        }
        .single-field {
            input {
                border: 1px solid #E3E3E3;
                color: $black;
                padding: 0 20px;
            }

        }
        .submit-btn {
            padding: 14px 25px;
            color: $white;
        }
    }

}