.subscribe-area {
    padding-top: 80px;
    padding-bottom: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $white;

    .section-title {
        margin-bottom: 40px;
    }

    .desc {
        margin-top: 15px;
        margin-bottom: 0;
    }

    .subscribe-form-widget {
        .mc4wp-form-fields{
            border-radius: 0;
        }
        .single-field {
            input {
                border: 1px solid #E3E3E3;
                color: $black;
                padding: 0 20px;
            }

        }
        .submit-btn {
            padding: 14px 25px;
            color: $white;
        }
    }

}
.testimonial-slider-area {
    &.style-2 {
        .section-title {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 0px;
            gap: 0px;

            .slider-nav-btn-wrapper {
                .slider-nav-prev-btn, .slider-nav-next-btn {
                    width: 60px;
                    height: 60px;
                    background-color: rgba(217, 161, 76, 0.1);
                    color: $primary-color;
                    font-size: 16px;
                    box-shadow: none;
                    @include transition;

                    &:hover {
                        background-color: $primary-color;
                        color: $white;
                        @include transition;
                    }
                }
            }
            .sec-content {
                margin-bottom: 50px;
                gap: 10px;
            }

            .short-title {
                margin-bottom: 0;
            }
            .slider-nav-btn-wrapper {
                gap: 20px;
            }
        }

        #testimonial_style_two {
            .slick-prev, .slick-next {
              display: none !important;
            }
            .slick-arrow {
              display: none !important;
            }
        }
    }
}

.latest-posts-area {
    &.style-3 {
        .section-title {
            margin-bottom: 60px;

            .slider-nav-btn-wrapper {
                .slider-nav-prev-btn, .slider-nav-next-btn {
                    width: 60px;
                    height: 60px;
                    background-color: rgba(217, 161, 76, 0.1);
                    color: $primary-color;
                    font-size: 16px;
                    box-shadow: none;
                    @include transition;
                    

                    &:hover {
                        background-color: $primary-color;
                        color: $white;
                        @include transition;
                    }
                }
            }

            .sec-content {
                margin: 0;
            }
        }
    }
}