// About Us Area

.about-us-area {
  &.style-1 {
    padding-top: 120px;
    padding-bottom: 153px;
  }
}

// Feature Area
.feature-area{
  &.style-1{
    background-repeat: no-repeat;
    background-position: left bottom;

    .section-title{
      margin-bottom: 100px;
    }
  }
}

// Portfolio Section
.portfolio-section{
  &.style-1{
    .section-title{
      margin-bottom: 52px;
    }
  }
}

// Counter Up Area
.counter-up-area,
.video-popup-area {
  margin: 0 80px;
}


// latest-posts-area
.latest-posts-area{
  &.style-1{
    .section-title{
      margin-bottom: 60px;
    }
  }
}

.post-card-slider-wrapper{
  .slick-arrow{
    display: none !important;
  }
  .slick-list.draggable{
    margin: 0 -15px;
  }
}