
// Testimonial
.testimonial-slider-area{
    &.style-4{
        .testimonial-slider-wrapper{
            .slick-list{
                &.draggable{
                    display: flex;
                    justify-content: center;
                    margin: 0 -15px;

                    .slick-track{
                        display: flex;
                        justify-content: start;
                    }
                }
            }
            .slick-dots{
                display: flex;
                justify-content: center;
                margin: 40px 0 0;
                list-style: none;
                padding: 0;
            }
        }
    }
}

// Counter UP
.counter-up-area{
    &.style-3{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding: 396px 0 80px;

        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $black;
            opacity: 0.9;
        }
    }
}