.about-us-area {
    padding: 120px 0;
    background-color: $white;
}

.feature-area {
    &.style-2 {
        .section-title {
            margin-bottom: 60px;
            text-align: center;

            .short-title {
                &::before {
                    content: "";
                    width: 20px;
                    height: 1px;
                    border-bottom: 1px solid $primary-color;
                    flex: 1 1;
                  }
            }
        }
    }
}

.video-popup-area {
    &.style-2 {
        background-color: $gray-100;
    }
}