.blog-card-slider {
    .slick-arrow {
        display: none !important;
    }

    .slick-list.draggable{
        margin: 0 -14px;
    }

}

.blog-card {
    width: 410px;
    margin: 0 15px;

    &:hover{
        .card-img img{
            transform: scale(1.03);
            @include transition;
        }
        .card-content{
            border-bottom: 1px solid #D9A14C;
            border-top: 1px solid #FFFFFF;
            border-right: 1px solid #FFFFFF;
            border-left: 1px solid #FFFFFF;
            box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
            @include transition;
        }
    }

    .card-img {
        position: relative;
        width: 100%;
        height: 236px;
        overflow: hidden;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            @include transition;
        }

        .upload-status {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 10px;

            span{
                background-color: #D9A14C;
                padding: 9px 20px;
                color: $white;
                i {
                    margin-right: 10px;
                }
            }
        }
    }

    .card-content {
        padding: 40px;
        border: 1px solid #E3E3E3;
        @include transition;

        .title {
            font-family: $heading-font;
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            margin-bottom: 40px;
        }

        .card-btn {
            padding: 14px 25px;
            background: none;
            font-family: $heading-font;
            font-size: 16px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 1.28px;
            text-transform: uppercase;
            border: 1px solid #D9A14C;
            color: #23262D;
            @include transition;

            &:hover {
                background-color: #D9A14C;
                color: #FFFFFF;
                @include transition;
            }

            i {
                font-family: Font Awesome 6 Free;
                font-size: 16px;
                font-weight: 900;
                margin-left: 8px;
            }
        }
    }
}

// Style-2
.blog-card.style-2{

    .card-img {
        height: 299px;
    }

    .card-content{
        width: 380px;
        padding: 20px 30px 40px;
        margin-top: -70px;
        position: relative;
        z-index: 5;
        background-color: #FFFFFF;

        .upload-status{
            display: flex;
            column-gap: 30px;
            row-gap: 20px;
            margin-bottom: 20px;

            span{
                font-family: $body-font;
                font-weight: 400;
                line-height: 30px;
                font-size: 16px;
                color: #616670;

                i{
                    font-family: $font-awesome;
                    font-size: 14px;
                    font-weight: 900;
                    margin-right: 5px;
                    color: #D9A14C;
                }
            }
        }

        .title{
            margin-bottom: 20px;
        }
        .description{
            font-family: $body-font;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            color: #616670;
            margin-bottom: 30px;
        }
    }
}