.about-info-card {

  .btn-wrapper {
    margin-top: 40px;
  }
  &.style-1 {
    margin-top: 70px;
  }
  &.style-3 {
    margin-top: 117px;
  }
  &.style-4 {
    margin-left: 2px;
    margin-top: 28px;

    @include xl {
      margin: 0;
    }

    .about-info-content {
      gap: 20px;

      .section-title {
        gap: 0;
      }
      .desc {
        margin-bottom: 0;
      }
      
    }
  }
  .about-info-content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .section-title {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;
    }
    
  }

}