.about-info-card{
    &.style-5{
        margin-top: 31px;
        .about-info-content{
            gap: 34px;
            margin-right: 100px;

            .section-title{
                .title{
                    margin-bottom: 10px;
                }
            }
        }
        .btn-wrapper{
            margin-top: 60px;
        }
    }
}