.about-info-card {

  .btn-wrapper {
    margin-top: 40px;
  }
  &.style-1 {
    margin-top: 72px;
    margin-left: 3px;

    @include sm {
      margin-top: 0;
    }
  }
  &.style-3 {
    margin-top: 117px;
  }
  &.style-4 {
    margin-top: 102px;
    margin-right: 80px;

    @include xl {
      margin: 0;
    }

    .about-info-content {
      gap: 20px;

      .section-title {
        gap: 0;
      }
      .desc {
        margin-bottom: 0;
      }
      
    }
    .btn-wrapper {
      margin-top: 30px;
    }
  }
  .about-info-content {
    display: flex;
    flex-direction: column;
    gap: 40px;


    .section-title {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;

      
    }
    
  }

}