.about-image-card {
  .main-img-wrapper {
    .main-img-inner {
      position: relative;

      img {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
      }

      .top-image {
        position: absolute;
        top: 294px;
        left: 155px;
        background:rgba(217, 161, 76, 0.15);
        overflow: hidden;
        

        img {
          position: relative;
          margin-top: 35px;
          margin-left: 31px;
          z-index: 2;
          
        }
      }

      .image-shape {
        position: absolute;
        right: 50px;
        bottom: 20px;
      }
    }
    .review-card {
      width: 307px;
      height: 135px;
      background-color: $primary-color;
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px 30px;
      margin-top: 60px;
      position: relative;
      z-index: 2;
      margin-bottom: 24px;

      .icon {
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }
      .card-text {
        h2 {
          color: $white;
          font-size: 48px;
          font-weight: 700;
          line-height: 60px;
          text-transform: capitalize;
        }
        span {
          color: $white;
          text-transform: capitalize;
        }
      }
    }
    
     
  }
}

