.testimonial-card {
  &.style-3 {
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 0;
    background: none;

    .user-info-wrapper {
      flex-direction: row;
      gap: 30px;
      align-items: center;

      .user-img{
        width: 126px;
        height: 130px;
        overflow: hidden;
        border-radius: 50%;
      }
      .user-meta {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .name{
          color: $white;
        }
        .designation{
          color: $white;
        }
      }
    }

    .content-wrapper{
      .description{
        font-size: 22px;
        line-height: 33px;
        color: $white;
        padding: 0 20px;
      }
    }
  }
}