.testimonial-card {
    &.style-5 {
      background-color: $black;
      align-items: start;
      gap: 50px;
      width: 630px;
      margin: 0 15px;
  
      .user-info-wrapper {
        flex-direction: row;
        gap: 25px;
        margin-bottom: 20px;
  
        .user-img{
          width: 85px;
          height: 85px;
          overflow: hidden;
        }
        .user-meta {
          text-align: left;
  
          .name{
            color: $white;
          }
          .designation{
            color: $white;
            margin-bottom: 10px;
          }
          .designation{
            margin: 0;
          }
        }
      }
  
      .content-wrapper{
        .comma-icon{
          i{
            font-family: $font-awesome;
            font-size: 48px;
            line-height: 48px;
            color: $black;
            -webkit-text-stroke: 1px $primary-color;
          }
        }
        .description{
          color: $white;
          margin-top: 20px;
        }
      }
    }
  }