.testimonial-card {
  &.style-2 {
    flex-direction: row;
    gap: 110px;
    padding: 40px 81px 48px 40px;
    margin-left: 2px;

    @include sm {
      padding-right: 50px;
      flex-direction: column;
      gap: 24px;
    }
    @include md {
      gap: 40px;
    }
    @include lg {
      padding-right: 50px;
      flex-direction: column;
      gap: 24px;
    }

    .user-info-wrapper {
      margin-top: 2px;
    }

    .content-wrapper{
      .desc{
        font-size: 22px;
        line-height: 40px;
        margin-bottom: 0;

        @include sm {
          font-size: 18px;
        }
      }
    }
  }
}