

.counter-card {
  &.style-1 {
    padding: 20px;
    margin-top: 55px;
    background-image: repeating-linear-gradient(165deg, #ae8a29, #ae8a29 17px, transparent 17px, transparent 32px, #ae8a29 32px), repeating-linear-gradient(255deg, #ae8a29, #ae8a29 17px, transparent 17px, transparent 32px, #ae8a29 32px), repeating-linear-gradient(-15deg, #ae8a29, #ae8a29 17px, transparent 17px, transparent 32px, #ae8a29 32px), repeating-linear-gradient(75deg, #ae8a29, #ae8a29 17px, transparent 17px, transparent 32px, #ae8a29 32px);
      background-size: 2px calc(100% + 33.13px), calc(100% + 33.13px) 2px, 2px calc(100% + 33.13px) , calc(100% + 33.13px) 2px;
      background-position: 0 0, 0 0, 100% 0, 0 100%;
      background-repeat: no-repeat;
      animation: borderAnimation 1s infinite linear reverse;
      
      
  }
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 50px 47px;
  text-align: left;
  position: relative;

  .counter-shape {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.2;
  }
  .number {
    font-family: $heading-font;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: $black;
    margin: 0;
    flex-shrink: 0;

    @include sm {
      font-size: 48px;
    }
    @include md {
      font-size: 48px;
    }
  }

  .title {
    margin: 0;
    font-family: $heading-font;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: initial;
    color: $black-100;

    @include sm {
      font-size: 20px;
      line-height: 30px;
      text-align: center;
    }
    @include md {
      font-size: 20px;
      line-height: 30px;
    }
    @include lg {
      font-size: 24px;
      line-height: 38px;
    }

    br {
      @include sm {
        display: none;
      }
    }
  }
}