.counter-card {
    &.style-3{
        padding: 20px 120px;
        border-right: 1px solid $white;

        @include xl{
          padding: 20px 80px;
        }
    
        @include lg{
          padding: 15px 80px;
        }
        @include md{
          padding: 20px 90px;
          margin-bottom: 40px;
        }
        @include sm{
          padding: 15px 50px;
          margin-bottom: 30px;
        }
        @include xs{
          padding: 15px 70px;
          border-right: none;
          border-bottom: 1px solid $white;
        }
    
        &.first{
          padding: 20px 120px 20px 0;
          @include xl{
            padding: 20px 80px 20px 0;
          }
          @include lg{
            padding: 15px 80px 15px 0;
          }
          @include md{
            padding: 20px 90px;
            margin-bottom: 40px;
          }
          @include sm{
            padding: 15px 50px;
          }
          @include xs{
            padding: 20px 70px;
          }
        }
        &.last{
          padding: 20px 0 20px 120px;
          border: none;
          @include xl{
            padding: 20px 0 20px 80px;
          }
          @include lg{
            padding: 15px 0 15px 80px;
          }
          @include md{
            padding: 20px 90px;
          }
          @include sm{
            padding: 15px 50px;
          }
          @include xs{
            padding: 20px 70px;
          }
        }
        &.second{
          @include md {
            border: none;
          }
          @include sm{
            border: none;
          }
          @include xs{
            border-bottom: 1px solid $white;
          }
        }
        .content{
            gap: 0;

          .number{
            -webkit-text-stroke: 1px $white;
            width: 145px;
            max-width: 145px;
            @include lg{
              max-width: 116px;
              font-size: 48px;
            }
            @include sm{
              font-size: 48px;
              justify-content: center;
            }
          }
          .title{
            color: $white;
            font-size: 16px;
            margin-top: -10px;
          }
        }
      }
}